env: "development"
log_level: "info" # info|warm|error
ports:
  http: "5701"
database:
  host: "localhost:5432"
  database: "analytics_service"
  username: "root"
  password: 'strongpsword'
  sslmode: "disable"
  max_idle_conns: 2
  conn_max_lifetime: "1h"
  ping_interval: "5s"
  retry_attempts: 3
